@import '../../assets/scss/color.scss';
@import '../../assets/scss/variables.scss';

.form-section {
	background-color: $offWhite;
	box-shadow: $lightShadow;
	border-radius: $mainBorderRadius;
	padding: 35px;
}

.btn-login {
	border-radius: 9px;
}

.error-message {
	color: #ff0000;
	list-style: none;
}
