@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixin.scss';

/* 
====== 
About
======
*/
.about-section {
	flex-direction: column;
	max-width: 1170px;
	margin: 0 auto;

	.section-title {
		@include text-center;
	}
}
