/* 
====== 
Colors
======
*/
$primaryColor: #f15025;
$primaryDarkColor: #c02c03;
$primaryFont: 'Catamaran', sans-serif;
$slantedFont: 'Kaushan Script', cursive;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBackground: #ececec;
$mainOverlay: rgba(35, 10, 36, 0.4);
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #afafaf;
$mainRed: #bd0303;
$mainTransition: all 0.3s linear;
$mainSpacing: 0.3rem;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
