@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/color.scss';
@import '../../assets/scss/variables.scss';

/* 
====== 
Hero
======
*/
.hero {
	background-image: url('../../assets/images/Image.png');
	background-color: $mainBackground;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	min-height: calc(65vh);
	@include display-flex;
	width: 100%;

	.banner {
		width: var(--smallWidth);
		max-width: 1170px;
		max-width: var(--fullWidth);

		.search-input-wrap {
			width: 100%;
			position: relative;
			display: flex;

			.search-input {
				font-size: 1.5rem;
				width: 100%;
				height: 65px;
				border: 3px solid $primaryDarkColor;
				border-right: none;
				padding: 5px;
				border-radius: 5px 0 0 5px;
				outline: none;

				&::placeholder {
					color: $offWhite;
				}

				&:focus {
					color: $darkGrey;
				}
			}

			.search-button {
				max-width: 150px;
				width: 38%;
				height: 65px;
				border: 1px solid $primaryDarkColor;
				background: $primaryDarkColor;
				text-align: center;
				color: $mainWhite;
				border-radius: 0 5px 5px 0;
				cursor: pointer;
				font-size: 20px;
			}
		}
	}

	h1 {
		color: $mainWhite;
		font-size: 1.5rem;
		font-weight: 900;
		text-transform: uppercase;
		text-align: center;
	}

	p {
		font-size: 1.5rem;
		font-weight: bold;
		letter-spacing: 3px;
		margin-bottom: 1.75rem;
	}
}

@media screen and (min-width: 768px) {
	.hero h1 {
		font-size: 2.3rem;

		.hero p {
			font-size: 2.3rem;
		}
	}

	.banner {
		margin-top: 0;
	}
}
