@import '../../assets/scss/variables.scss';

.header {
	padding: 2rem 0;

	.logo {
		margin: 0 auto;
		width: 9rem;
	}

	ul {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		margin-top: 2rem;
		width: $smallWidth;
		max-width: $maxWidth;

		div {
			display: flex;
			align-items: center;
		}
	}
}
