@import './assets/scss/color.scss';
@import './assets/scss/variables.scss';

/* 
====== 
Fonts
======
*/
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;500;700;900&display=swap');

/* 
====== 
Global Styles 
======
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $primaryFont;
	color: $mainBlack;
	background: $mainBackground;
	line-height: 1.4;
	font-size: 1rem;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primaryFont;
	margin-bottom: 1.25rem;
	letter-spacing: $mainSpacing;
}

p {
	margin-bottom: 1.25rem;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--mainBlack);
}

img {
	width: 100%;
	display: block;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section {
	padding: 4rem 0;
}

.section-title {
	font-size: 2rem;
	text-transform: capitalize;
	letter-spacing: 0.3rem;
	letter-spacing: var(--mainSpacing);
	text-align: center;
	margin-bottom: 3.5rem;
}

.loading {
	text-transform: capitalize;
	text-align: center;
	font-size: 1.7rem;
	margin-top: 3rem;
	letter-spacing: var(--mainSpacing);
	.loading img {
		width: 10rem;
		margin: 0 auto;
	}
}

/* 
====== 
Buttons 
======
*/
.btn,
.btn-white,
.btn-primary {
	text-transform: uppercase;
	letter-spacing: $mainSpacing;
	color: $mainWhite;
	border: 2px solid $primaryColor;
	padding: 0.45rem 0.8rem;
	display: inline-block;
	transition: $mainTransition;
	cursor: pointer;
	font-size: 0.8rem;
	background: $primaryDarkColor;
	width: 100%;
}

.btn:hover {
	background: $primaryColor;
	color: $mainWhite;
}

.btn-white {
	background: transparent;
	color: $mainWhite;
	border-color: $mainWhite;

	.btn-white:hover {
		background: $mainWhite;
		color: $primaryColor;
	}
}

.btn-primary {
	background: $primaryColor;
	color: $mainWhite;
	border-color: $primaryColor;

	.btn-primary:hover {
		background: transparent;
		color: $primaryColor;
	}
}

.btn-block {
	width: 100%;
	display: block;
	margin: 0 auto;
	box-shadow: $lightShadow;
	text-align: center;
}
